
@import "trix";
body {
    margin: 0;
    padding: 0; 
  }
.navbar {
    box-shadow: 1px -9px 15px 2px black;
    overflow: hidden;
    padding: 10px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #efefef;
    color: black;
  }
  
  .navbar .navbar-brand {
    float: left;
  }
  
  .navbar .navbar-menu {
    float: right;
  }

  /* app/assets/stylesheets/sessions.css */

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  .field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .actions {
    text-align: center;
  }
  
  .actions input {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .actions input:hover {
    background-color: #0056b3;
  }
  
  .flash-message {
    color: red;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }
  